*{
   margin: 0;
   padding: 0;
   box-sizing: border-box; 
   font-family: 'Poppins';
}

#search{
    outline: 1px solid orange;
    margin-top: 13px;
    margin-left: 12px;
    width: 70%;
    max-width: none;
    height: 60px;
    padding: 10px 20px;
    font-size: 175%;
    
}
.submit_btn{
    margin-left: 10px;
    background-color: orange;
    margin-top: 11px;
    border: none;
    color: white;
    font-size: 140%;
    padding: 1% 4%;
    cursor: pointer;
}
#disease-list{
    margin-top: 3%;
}
table, td, th {  
    border: 1px solid #ddd;
    text-align: left;
  }

  th{
    color: coral;
    background: rgb(29, 28, 29);
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    padding: 15px;
  }

footer{
    text-align: center;
    background-color: rgb(107, 115, 122);
}